.styDelete {
  cursor: pointer;
  color: #FF5733;
  transition: all 200ms ease;
  &:hover{
    color: #C70039;
  }
}

.styRow {
  cursor: pointer;
  transition: all 200ms ease;
  &:hover{
    opacity: 0.8;
  }
}

.styFilter {
  overflow-x: scroll;
  & > * {
    flex: 0 0 33%;
  }
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 0.5px solid white;
  }
}

@keyframes pulsate {
  0% {transform: scale(0.9, 0.9) translateY(-50%); opacity: 0.0;}
  60% {transform: scale(1, 1) translateY(-50%); opacity: 0.5;}
  100% {transform: scale(0.9, 0.9) translateY(-50%); opacity: 0.0;}
}
.hasMoreFilter {
  position: relative;
  display: block;
  &:after {
    content: '>>';
    position: absolute;
    display: block;
    left: 0;

    opacity: 0;
    

    animation: pulsate 3.5s ease-out;
    animation-iteration-count: infinite;
    color: #1B1B1B;
    font-size: 18px;
    top: 50%;
    transform: scale(0.9, 0.9) translateY(-50%);
  }
}